html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

@font-face {
  font-family: "Gellix-Bold";
  src: url("fonts/Gellix-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  min-height: 725px;
  font-size: 1.6rem;
  font-family: "Gellix-Bold";
  font-weight: 700;
  background-image: url(images/background-section.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:root {
  --circle-rotation: 0deg;
  --transition-duration: 1s;
}

h1.page-title {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  margin: 0;
  left: 50px;
  font-size: 32px;
  line-height: 1em;
}

@media screen and (max-width: 1400px) {
  h1.page-title {
    position: static;
    transform: none;
    top: auto;
    left: 0;
    text-align: center;
    padding: 2em 0 0 0;
  }
}
button.control {
  position: absolute;
  top: 50%;
  text-indent: 200px;
  width: 80px;
  height: 80px;
  background-position: center center;
  background-size: 50% auto;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: transparent;
  transform: translateY(-50%);
}
button.control.prev {
  left: 0;
  background-image: url(images/icon-arrow-left.svg);
}
button.control.next {
  background-image: url(images/icon-arrow-right.svg);
  right: 0;
}

.wheel-and-controls {
  position: relative;
}

.wheel-section {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 62px;
}

.wheel-section svg {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.wheel-section svg .central-circle-one {
  filter: drop-shadow(0px 0 4px rgba(0, 0, 0, 0.1));
}
.wheel-section svg .item-circle {
  transform-origin: center center;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) var(--transition-duration);
  cursor: pointer;
}
.wheel-section svg .item-circle.item-circle-one {
  transform: rotate(calc(0deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-two {
  transform: rotate(calc(45deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-three {
  transform: rotate(calc(90deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-four {
  transform: rotate(calc(135deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-five {
  transform: rotate(calc(180deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-six {
  transform: rotate(calc(225deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-seven {
  transform: rotate(calc(270deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle.item-circle-eight {
  transform: rotate(calc(315deg + var(--circle-rotation)));
}
.wheel-section svg .item-circle-text {
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) var(--transition-duration), opacity linear var(--transition-duration);
  font-family: "Gellix-Bold";
  font-size: 10.3px;
  font-weight: 700;
  opacity: 0.6;
  pointer-events: none;
}
.wheel-section svg .item-circle-text.item-circle-text-one {
  transform: rotate(calc(0deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-two {
  transform: rotate(calc(-45deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-three {
  transform: rotate(calc(-90deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-four {
  transform: rotate(calc(-135deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-five {
  transform: rotate(calc(-180deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-six {
  transform: rotate(calc(-225deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-seven {
  transform: rotate(calc(-270deg - var(--circle-rotation)));
}
.wheel-section svg .item-circle-text.item-circle-text-eight {
  transform: rotate(calc(-315deg - var(--circle-rotation)));
}
.wheel-section svg .active-circle {
  pointer-events: none;
}
.wheel-section svg .group-item-circle-text.active .item-circle-text {
  opacity: 1;
}
.wheel-section svg .group-item-circle-text {
  transform-origin: center center;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) var(--transition-duration);
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-one {
  transform: rotate(calc(0deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-two {
  transform: rotate(calc(45deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-three {
  transform: rotate(calc(90deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-four {
  transform: rotate(calc(135deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-five {
  transform: rotate(calc(180deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-six {
  transform: rotate(calc(225deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-seven {
  transform: rotate(calc(270deg + var(--circle-rotation)));
}
.wheel-section svg .group-item-circle-text.group-item-circle-text-eight {
  transform: rotate(calc(315deg + var(--circle-rotation)));
}
.wheel-section svg .group-branch-text text {
  font-weight: 700;
  fill: rgba(0, 0, 0, 0.7);
}
.wheel-section svg .group-branch-text .strong {
  fill: black;
}
.wheel-section svg #IconGroup image {
  transform-origin: center center;
}

.wheel-section .branches-wrapper {
  margin-top: -6px;
}
.wheel-section .branches-wrapper .branch-connector {
  width: 2px;
  height: 30px;
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(to bottom, #4c48ff, #2aa3ff);
}
.wheel-section .branches-wrapper .branches {
  height: 125px;
  overflow: visible;
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: auto;
}
.wheel-section .branches-wrapper .branches .branch {
  width: 800px;
  max-width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 125px;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}
.wheel-section .branches-wrapper .branches .branch:before {
  content: "";
  height: 2px;
  width: 100%;
  width: 0%;
  display: block;
  background-image: linear-gradient(to right, #4c48ff, #2aa3ff);
  transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s var(--transition-duration);
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}
.wheel-section .branches-wrapper .branches .branch .items {
  display: flex;
}
.wheel-section .branches-wrapper .branches .branch .items .item {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 10px;
}
.wheel-section .branches-wrapper .branches .branch .items .item .text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  opacity: 0;
  margin-top: -10px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s calc(var(--transition-duration) + 0.6s);
}
.wheel-section .branches-wrapper .branches .branch .items .item .text strong {
  font-weight: 700;
  color: black;
}
.wheel-section .branches-wrapper .branches .branch .items .item:before {
  content: "";
  height: 30px;
  height: 0px;
  width: 2px;
  display: block;
  margin: auto;
  transform: translateX(0px);
  background-image: linear-gradient(to bottom, #4c48ff, #2aa3ff);
  transition: height cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s calc(var(--transition-duration) + 0.3s);
}
.wheel-section .branches-wrapper .branches .branch.spread {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
.wheel-section .branches-wrapper .branches .branch.spread.item-count-2:before {
  width: calc(50% + 2px);
}
.wheel-section .branches-wrapper .branches .branch.spread.item-count-3:before {
  width: calc(66.66% + 2px);
}
.wheel-section .branches-wrapper .branches .branch.spread.item-count-4:before {
  width: calc(75% + 2px);
}
.wheel-section .branches-wrapper .branches .branch.spread .items .item:before {
  height: 30px;
}
.wheel-section .branches-wrapper .branches .branch.spread .items .item .text {
  opacity: 1;
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  button.control {
    width: 40px;
    height: 40px;
    background-size: 80%;
  }

  .wheel-and-controls {
    padding-left: 40px;
    padding-right: 40px;
  }
}
