<?xml version="1.0"?>
<configuration>
  <configSections/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-IN" uiCulture="en-IN"/>
  </system.web>
</configuration>